@{
    ViewData["Title"] = "Home Page";
}

<h3>Dingil</h3>

<div class="row">
    <div class="col-md-6">
	
		<form method=POST action="/home/index">
		  <div class="form-group">
			<label for="yaml">YAML</label>
			<textarea style="font-family:monospace;" class="form-control" id="yaml" aria-describedby="yamlHelp" placeholder="Enter YAML" name="body" rows=10>
Employee:
    Age: System.Int32
    Firstname: System.String
    Lastname: System.String
    Birthdate: System.DateTime

Company:
    Name: System.String</textarea>
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	
    </div>
    <div class="col-md-6">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
</div>
